<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlet_prj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>day0709.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallServlet</display-name>
    <servlet-name>CallServlet</servlet-name>
    <servlet-class>day0710.CallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallServlet</servlet-name>
    <url-pattern>/call_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycle</display-name>
    <servlet-name>LifeCycle</servlet-name>
    <servlet-class>day0710.LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycle</servlet-name>
    <url-pattern>/life_cycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseHttpServletRequest</display-name>
    <servlet-name>UseHttpServletRequest</servlet-name>
    <servlet-class>day0710.UseHttpServletRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseHttpServletRequest</servlet-name>
    <url-pattern>/use_httpservletrequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Param</display-name>
    <servlet-name>Param</servlet-name>
    <servlet-class>day0711.Param</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Param</servlet-name>
    <url-pattern>/param</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardA</display-name>
    <servlet-name>ForwardA</servlet-name>
    <servlet-class>day0712.ForwardA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardA</servlet-name>
    <url-pattern>/forward_a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardB</display-name>
    <servlet-name>ForwardB</servlet-name>
    <servlet-class>day0712.ForwardB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardB</servlet-name>
    <url-pattern>/forward_b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectA</display-name>
    <servlet-name>RedirectA</servlet-name>
    <servlet-class>day0713.RedirectA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectA</servlet-name>
    <url-pattern>/redirect_a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParameterValues</display-name>
    <servlet-name>ParameterValues</servlet-name>
    <servlet-class>day0712.ParameterValues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParameterValues</servlet-name>
    <url-pattern>/parameter_values</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectB</display-name>
    <servlet-name>RedirectB</servlet-name>
    <servlet-class>day0713.RedirectB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectB</servlet-name>
    <url-pattern>/redirect_b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCookie</display-name>
    <servlet-name>AddCookie</servlet-name>
    <servlet-class>day0716.AddCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCookie</servlet-name>
    <url-pattern>/add_cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopupClose</display-name>
    <servlet-name>PopupClose</servlet-name>
    <servlet-class>day0716.PopupClose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopupClose</servlet-name>
    <url-pattern>/popup_close</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadCookie</display-name>
    <servlet-name>ReadCookie</servlet-name>
    <servlet-class>day0716.ReadCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookie</servlet-name>
    <url-pattern>/read_cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopupBody</display-name>
    <servlet-name>PopupBody</servlet-name>
    <servlet-class>day0716.PopupBody</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopupBody</servlet-name>
    <url-pattern>/popup_body</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCookie</display-name>
    <servlet-name>RemoveCookie</servlet-name>
    <servlet-class>day0716.RemoveCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCookie</servlet-name>
    <url-pattern>/remove_cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseSessionC</display-name>
    <servlet-name>UseSessionC</servlet-name>
    <servlet-class>day0717.UseSessionC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseSessionC</servlet-name>
    <url-pattern>/use_session_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseSessionB</display-name>
    <servlet-name>UseSessionB</servlet-name>
    <servlet-class>day0717.UseSessionB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseSessionB</servlet-name>
    <url-pattern>/use_session_b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WhySessionB</display-name>
    <servlet-name>WhySessionB</servlet-name>
    <servlet-class>day0717.WhySessionB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WhySessionB</servlet-name>
    <url-pattern>/why_session_b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WhySessionC</display-name>
    <servlet-name>WhySessionC</servlet-name>
    <servlet-class>day0717.WhySessionC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WhySessionC</servlet-name>
    <url-pattern>/why_session_c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseSessionD</display-name>
    <servlet-name>UseSessionD</servlet-name>
    <servlet-class>day0717.UseSessionD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseSessionD</servlet-name>
    <url-pattern>/use_session_d</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseDBCP</display-name>
    <servlet-name>UseDBCP</servlet-name>
    <servlet-class>day0718.UseDBCP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseDBCP</servlet-name>
    <url-pattern>/use_dbcp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchDept</display-name>
    <servlet-name>SearchDept</servlet-name>
    <servlet-class>day0718.SearchDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDept</servlet-name>
    <url-pattern>/search_dept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEmp</display-name>
    <servlet-name>SearchEmp</servlet-name>
    <servlet-class>day0718.SearchEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEmp</servlet-name>
    <url-pattern>/search_emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>kr.co.sist.web.member.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdDuplication</display-name>
    <servlet-name>IdDuplication</servlet-name>
    <servlet-class>kr.co.sist.web.member.IdDuplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdDuplication</servlet-name>
    <url-pattern>/id_dup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindZip</display-name>
    <servlet-name>FindZip</servlet-name>
    <servlet-class>kr.co.sist.web.member.FindZip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindZip</servlet-name>
    <url-pattern>/find_zip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberJoin</display-name>
    <servlet-name>MemberJoin</servlet-name>
    <servlet-class>kr.co.sist.web.member.MemberJoin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberJoin</servlet-name>
    <url-pattern>/member_join</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestContextParam</display-name>
    <servlet-name>TestContextParam</servlet-name>
    <servlet-class>day0724.TestContextParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestContextParam</servlet-name>
    <url-pattern>/test_context_param</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet500</display-name>
    <servlet-name>Servlet500</servlet-name>
    <servlet-class>day0724.Servlet500</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet500</servlet-name>
    <url-pattern>/day0724/servlet_500</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestInitParam</display-name>
    <servlet-name>TestInitParam</servlet-name>
    <servlet-class>day0724.TestInitParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestInitParam</servlet-name>
    <url-pattern>/day0724/test_init_param</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>common_css</param-name>
    <param-value>http://211.63.89.140:8080/servlet_prj/css/main1.css</param-value>
  </context-param>
  <context-param>
    <param-name>common_path</param-name>
    <param-value>http://211.63.89.140:8080/servlet_prj/common/</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/error/error_404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/error_500.html</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/error/error_405.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Servlet405</display-name>
    <servlet-name>Servlet405</servlet-name>
    <servlet-class>day0724.Servlet405</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet405</servlet-name>
    <url-pattern>/day0724/servlet_405</url-pattern>
  </servlet-mapping>
</web-app>