<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.dao.examMapper">
	<select id="selectAllEmp" resultType="kr.co.sist.domain.CpEmp">
		select empno,ename,sal,to_char(hiredate,'yyyy-mm-dd') hiredate
		from cp_emp
		order by sal
	</select>
</mapper>