@charset "UTF-8";

body, div, ul, ol, h1, h2, h3, form, fieldset, legend, textarea, p, th,
	td, input, select {
	margin: 0;
	padding: 0
}

ul, ol {
	list-style: none
}

fieldset, img {
	border: 0px none
}

body, th, td, input, select, textarea {
	font-size: 13px;
	line-height: 1.5;
	font-family: dotum, 돋움, sans-serif;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
	color: #3cb5ff;
}

.inputbox {
	border: 1px solid #ededed;
	background-color: #ffffff;
}

.btn {
	border: 1px solid #ededed;
	background-color: #ffffff;
}

.red {
	color: red;
}