<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <mappers>
    <mapper resource="kr/co/sist/dao/examMapper.xml"/> <!-- 확장자가 있으면 /로 확장자가 없으면 .으로 경로설정 -->
  </mappers>
</configuration>